.home-info{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    text-justify: auto;
    align-items: center;
     
}
.infoheading{
 font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
.home-heading{
    font-size: 50px;
}
