.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.website-name{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    color:white;
}
.main-logo-img{
    width:70px;
    height:70px;
    border-radius: 50%;
}
.img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap:30px;
}
.menu{
    text-decoration: none;
    color: white;
    font-weight: 1000;
    font-size: 18px;
}
.main-section{
    background-image:  linear-gradient(rgba(196, 152, 152, 0.3), rgba(0, 0, 0, 0.3)),url(./../images/home7.png);
    background-size: cover;
    background-position: center;
    height: 125vh;
}
/* Mobile Device */
@media screen and (max-width:700px) {

    .main-section{
        /* padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px; */
        margin: 10px;
        flex-direction: column;
    }
      @media only screen and(min-width:768px) and (max-width:991px){

    .main-container{
       
        margin: 10px;
        flex-direction: column;
    }